
<div style="height:400px;min-height:100px;margin:0 auto;" id="DuBaoThoiTiet"> </div>

<script>
   setInterval(Du_bao_Thoi_tiet, 60000);    
    function Du_bao_Thoi_tiet(){
        $.ajax(
                {url: "Du-bao-Thoi-tiet",
                    success: function(result){  
                    $("#DuBaoThoiTiet").html(result);
                }});
    }
</script>