
	<div style="height:300px;min-height:100px;margin:0 auto;" id="main-dat"> </div>
	<p>Temperature  and  Humiditidy Chart</p>
	<script type="text/javascript">
		Highcharts.setOptions({
		global: {
		useUTC: false
		}
	});
	function activeLastPointToolip_Dat(chart) {
		var points = chart.series[0].points;
		console.log("points nay la gi vay ha"+points)
		chart.tooltip.refresh(points[points.length - 1]);
	}
	var temp_1 = 10.21;
	// alert(json_temp);
	$('#main-dat').highcharts({
		chart: {
		type: 'spline',
		animation: Highcharts.svg,
		marginRight: 10,
		events: {
		load: function() {
		var series_uv = this.series[0];
		var series_cloud = this.series[1];
		var series_wind_speed = this.series[2];
		chart = this;
		setInterval(function() {
		var xmlhttp = new XMLHttpRequest();
		var url = "data-API-Thoi-tiet";
		xmlhttp.overrideMimeType("application/json");
		xmlhttp.onreadystatechange = function() {
		if (this.readyState == 4 && this.status == 200) {
		var myArr = JSON.parse(this.responseText);
		console.log("Day la mang gi vay"+myArr)
		json_uv = myArr['uvi']
		json_cloud = myArr['cloud']
		json_wind_speed =  myArr["wind_speed"]
		console.log("Temp:", json_uv);
		console.log("Humi:", json_cloud);
		console.log("Pressure:", json_wind_speed);
		}
	};
		xmlhttp.open("GET", url, true);
		xmlhttp.send();
		var x = (new Date()).getTime(),
		y_uv = Number(json_uv),
		y_cloud = Number(json_cloud);
		y_wind_speed = Number(json_wind_speed);		
		series_uv.addPoint([x, y_uv], true, true);
		series_cloud.addPoint([x, y_cloud], true, true);
		series_wind_speed.addPoint([x, y_wind_speed], true, true);
		activeLastPointToolip_Dat(chart);
	}, 60000);
	}
	}
	},
		title: {
		text: 'UV - MÂY - GIÓ '
	},
	credits: {
	enabled: false
	},
	xAxis: {
	type: 'datetime',
	tickPixelInterval: 150
	},
	yAxis: {
	title: {
	text: 'data sensor'
	},
	plotLines: [{
	value: 0,
	width: 1,
	color: '#808080'
	}]
	},
	tooltip: {
	formatter: function() {
	return '<b>' + this.series.name + '</b><br/>' +
	Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
	Highcharts.numberFormat(this.y, 2);
	}
	},
	legend: {
	enabled: false
	},
	exporting: {
	enabled: false
	},
	series: [{
	name: 'UV',
	data: (function() {
	// generate an array of random data
	var data = [],
	time = (new Date()).getTime(),
	i;
	for (i = -19; i <= 0; i += 1) {
	data.push({
	x: time + i * 1000,
	y: Math.random()
	});
	}
	return data;
	}())
	},
	{
	name: 'Mật độ mây',
	data: (function() {
	// generate an array of random data
	var data = [],
	time = (new Date()).getTime(),
	i;
	for (i = -19; i <= 0; i += 1) {
	data.push({
	x: time + i * 1000,
	y: Math.random()
	});
	}
	return data;
	}())
	},
	{
	name: 'Tốc độ gió',
	data: (function() {
	// generate an array of random data
	var data = [],
	time = (new Date()).getTime(),
	i;
	for (i = -19; i <= 0; i += 1) {
	data.push({
	x: time + i * 1000,
	y: Math.random()
	});
	}
	return data;
	}())
	}
	]
	}, function(c) {
	activeLastPointToolip_Dat(c)
	});
	</script>
